<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.semua">

    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".Modul5_menudetailActivity" />
        <activity android:name=".Modul5_pembayaranActivity" />
        <activity android:name=".Modul5_menuActivity"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".Modul5Activity" />
        <activity android:name=".Modul5_aboutActivity"
            android:parentActivityName=".Modul5_menuActivity">
        </activity>
        <activity android:name=".Modul4_pembayaranActivity" />
        <activity android:name=".Modul4_menudetailActivity" />
        <activity
            android:name=".Modul4_aboutActivity"
            android:parentActivityName=".Modul4_menuActivity" />
        <activity
            android:name=".Modul4_menuActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".Modul4Activity" />
        <activity android:name=".Modul3Activity" />
        <activity android:name=".Modul22Activity" />
        <activity android:name=".Modul2Activity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>